<nav class="navbar">
    <div class="nav-container">
        <a href="/" class="nav-logo">
            <img src="/images/logo.png" alt="Logo" class="logo">
        </a>
        <ul class="nav-links">
            <li><a href="/albums">Albums</a></li>
            <li><a href="/labels">Labels</a></li>
            <li><a href="/genres">Genres</a></li>
            <li><a href="/artists">Artists</a></li>
        </ul>
        <form class="search-form" action="/search" method="GET">
            <input type="text" name="search" id="search" placeholder="Search..." class="search-input">
            <button type="submit" class="search-button">Search</button>
        </form>
        <button class="nav-toggle" aria-label="Toggle menu">Menu</button>
    </div>
</nav>

<nav class="navbar-mobile">
    <div class="nav-container">
        <a href="/" class="nav-logo">
            <img src="/images/logo.png" alt="Logo" class="logo">
        </a>
        <button class="nav-toggle" aria-label="Toggle menu">Menu</button>
        <div class="mobile-nav-content">
            <ul class="nav-links">
                <li><a href="/albums">Albums</a></li>
                <li><a href="/labels">Labels</a></li>
                <li><a href="/genres">Genres</a></li>
                <li><a href="/artists">Artists</a></li>
            </ul>
            <form class="search-form" action="/search" method="GET">
                <input type="text"  name="search" id="search" placeholder="Search..." class="search-input">
                <button type="submit" class="search-button">Search</button>
            </form>
        </div>
    </div>
</nav>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const mobileNavLinks = document.querySelector('.navbar-mobile .nav-links');
    const mobileNavToggle = document.querySelector('.navbar-mobile .nav-toggle');

    if (mobileNavToggle) {
        mobileNavToggle.addEventListener('click', function() {
            mobileNavLinks.classList.toggle('active');
        });
    }
    document.addEventListener('click', function(event) {
        if (!mobileNavLinks.contains(event.target) && !mobileNavToggle.contains(event.target)) {
            mobileNavLinks.classList.remove('active');
        }
    });
});

document.getElementById('searchButton').addEventListener('click', function() {
        const query = document.getElementById('searchInput').value;
        fetch(`/api/search?q=${encodeURIComponent(query)}`)
            .then(response => response.json())
            .then(data => {
                console.log(data); // Handle the search results
            });
    });
</script>